body{
    font-family: 'Josefin Sans', sans-serif;
}
#heading{
    display: flex;
}
#heading-text{
    margin-top: 200px;
}
#heading div{
    width: 50%;
    margin-left: 7%;
    margin-right: 7%;
}
#person-image{
    width: 100%;
}
#heading h1{
    font-size: 5em;
}
#heading h1{
    color: rgb(72, 1, 114);
}
#heading-h1{
    color: rgb(160, 196, 2);
}
#heading p{
    font-size: 1.5em;
}
#heading button{
    border: none;
    background-color: chocolate;
    color: white;
    padding: 15px 30px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin: 4px 2px;
    border-radius: 5px;
}
#my-mission-heading{
    margin-top: 150px;
    text-align: center;
    font-size: 4em;
    color: rgb(72, 1, 114);
    margin-left: 7%;
    margin-right: 7%;
}
#my-mission-h2{
    color: chocolate;
}
#my-mission{
    display: flex;
    margin-left: 7%;
    margin-right: 7%;
}
#my-mission div{
    width: 33%;
    border:white 15px solid;
    padding: 2%;
    border-radius: 50px;
}
#my-mission img{
    width: 50%;
    height: 50%;
    margin: 0%;
}
#my-mission h3{
    font-size: 2em;
}
#my-mission p{
    font-size: 1.5em;
    font-weight:lighter;
}
#box-1{
    background-color: rgb(245, 236, 253);
}
#box-2{
    background-color:rgb(205, 245, 225);
}
#box-3{
    background-color:rgb(224, 223, 223);
}
#develop-limits{
    display: flex;
    margin-top: 100px;
    margin-left: 7%;
    margin-right: 7%;
}
}
#develop-limits div{
    width: 50%;
    border: red 200px solid;
}
#develop-limits img{
    width: 100%;
}
#develop-limits-text h1{
    font-size: 5em;
    color: rgb(14, 4, 73);
}
#develop-limits-text p{
    font-size: 1.5em;
}
#develop-limits-text{
    margin: 5%;
}
#develop-limits-text button{
    border: none;
    background-color: chocolate;
    color: white;
    padding: 18px 36px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin: 4px 2px;
    border-radius: 5px;
}
#know-community{
    display: flex;
    margin-left: 7%;
    margin-right: 7%;
    margin-top: 100px;
}
#know-community-text{
    margin: 5%;
}
#know-community-text h1{
    font-size: 5em;
}
#know-community-text p{
    font-size: 1.5em;
}
#know-community div{
    width: 50%;
}
#know-community img{
    width: 100%;
}
#know-community-text button{
    border: none;
    background-color: chocolate;
    color: white;
    padding: 18px 36px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin: 4px 2px;
    border-radius: 5px;
}
#discuss{
    background-color: cornflowerblue;
    margin-top: 50px;
    height: 300px;
}
#discuss h1{
    padding-top: 50px;
    text-align: center;
    font-size: 2em;
    color: white;
}
#discuss p{
    text-align: center;
    font-size: 1.5em;
    color: white;
}
#wrapper{
    text-align: center;
}
#discuss button{
    border: none;
    background-color: chocolate;
    color: white;
    padding: 18px 36px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin: 4px 2px;
    border-radius: 5px;
}
footer{
    border: none;
    background-color:rgb(30, 26, 54);
    color: white;
    padding: 18px 36px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}
footer h4{
    color: rgb(158, 155, 155);
}
#footer-h2{
    color: chocolate;
}